<div class="main-container">
    <div class="search-container">
        <form class="search-form" (keydown.enter)="search()">
            <img src="../../../assets/img/DATT.png" class="logo">
            <mat-form-field class="search-input" appearance="outline">
                <input matInput placeholder="Buscar por palabra que haga referencia"
                    [(ngModel)]="searchValue" name="search" />
                <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchValue=''">
                    <mat-icon class="search-icon">close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button (click)="search()" class="search-btn">Buscar</button>
            <p [style.display]="errorMessage ? 'block' : 'none'" [className]="'error'">{{ errorMessage }}</p>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" class="spinner"></mat-spinner>
        </form>
    </div>
</div>