<div class="guia-detalles-container">
    <mat-card class="guia-detalle-card">
        <h3>{{guia.titulo}}</h3>
        <mat-card-content>
            <div class="descripcion-guia" [innerHTML]="descripcionComoHTML(guia.descripcion)"></div>
        </mat-card-content>
    </mat-card>

    <mat-card class="guia-pasos-card" *ngFor="let paso of guia.pasos; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="guia-detalle-header-image">
                <p>{{i+1}}</p>
            </div>
            <mat-card-title>{{paso.titulo}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div [innerHTML]="descripcionComoHTML(paso.descripcion)"></div>
        </mat-card-content>
        <mat-card-actions>
            <img src="paso" alt="">
        </mat-card-actions>
    </mat-card>
</div>