.guia-detalle-header-image {
    position: absolute;
    margin-top: -30px;
    border-color: #8B7F7F;
    border-style: solid;
    margin-left: -30px;
    background-color: white;
    text-align: center;
}

.mapa-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.guia-detalle-header-image p {
    position: relative;
    top: 10%;
    transform: translateY(-50%);
}

.guia-pasos-card {
    margin: 1%;
}

.guia-detalle-card {
    margin: 1% 1% 2% 0;
}

.pdf-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    height: 70%;
    justify-content: flex-start;
    align-content: center;
  }
  
  .pdf-icon {
    width: 95%;
    margin-top: 10%;
  }
  
  .pdf-nombre {
    text-align: center;
    padding: 0;
    margin: 0;
    width: inherit;
    background-color: green;
    height: 20%; 
  }
  
  .pdf-nombre p {
    color: white;
  }
  
  .pdf-card {
    width: 100px;
    margin: 0;
    padding: 0;
  }

  .spinner {
    position: fixed;
    bottom: 0;
    right: 0;
}
