<div class="guia-detalles-container" *ngIf="guia; else loading">
    <div class="guia-detalles-content">
        <h3 class="guia-titulo">{{guia.titulo}}</h3>
        <div class="descripcion-guia-container">
            <div class="descripcion-guia" [innerHTML]="descripcionComoHTML(guia)"></div>
            <app-multimedia *ngIf="guia.anexo != null" [anexo]="guia.anexo"></app-multimedia>
        </div>
        <app-paso-preview *ngFor="let paso of guia.pasos; let i = index" [paso]="paso" [index]="i"></app-paso-preview>
        <ng-template #loading>
            <mat-spinner class="spinner"></mat-spinner>
        </ng-template>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="soporte-legal-container">
        <h3>Soporte legal</h3>
        <div [innerHTML]="descripcionComoHTML(guia)"></div>
    </div>
</div>
<div class="puntos-atencion-container">
    <div class="guia-detalles-content">
        <div #map class="mapa-container"></div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="soporte-legal-container" *ngIf="guia">
        <h4>Puntos de atención de este proceso</h4>
        <div class="punto-descripcion-container" *ngFor="let punto of guia.puntosDeAtencion">
            <span>{{punto.nombre}}</span>
            <span>{{punto.direccion}}</span>
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>