<div class="container-fluid preferencias-container">
    <form class="preferencias-form">
        <mat-card class="colores-card">
            <mat-card-header>
                <mat-card-title>Colores del usuario</mat-card-title>
            </mat-card-header>
            <mat-card-content class="colores-content">
                <div class="cp-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Color primario</mat-label>
                        <input matInput [(colorPicker)]="colorPrimario"
                            [(cpToggle)]="colorPrimarioToggle"
                            [cpIgnoredElements]="[IgnoredButtons, IgnoredInput]"
                            [value]="colorPrimario" name="colorPrimario"/>
                    </mat-form-field>
                    <button mat-button>
                        <mat-icon (click)="colorPrimarioToggle=!colorPrimarioToggle" [style.color]="colorPrimario">
                            palette</mat-icon>
                    </button>
                </div>
                <div class="cp-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Color secundario</mat-label>
                        <input matInput [(colorPicker)]="colorSecundario"
                            [(cpToggle)]="colorSecundarioToggle"
                            [cpIgnoredElements]="[IgnoredButtons, IgnoredInput]"
                            [value]="colorSecundario" name="colorSecundario" />
                    </mat-form-field>
                    <button mat-button>
                        <mat-icon (click)="colorSecundarioToggle=!colorSecundarioToggle"
                            [style.color]="colorSecundario">
                            palette</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="animacion-card">
            <mat-card-header>
                <mat-card-title> Animaciones del usuario</mat-card-title>
            </mat-card-header>
            <mat-card-content class="animacion-content">
                <mat-form-field>
                    <mat-label>Animaciones disponibles</mat-label>
                    <mat-select [(value)]="animation">
                        <mat-option value="">sin animacion</mat-option>
                      <mat-option *ngFor="let animacion of animacionesDisponibles" value="{{animacion}}">
                        {{animacion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <img src="../../../assets/img/DATT.png" class="animation-example"
                  [@animacion]="animation">
            </mat-card-content>
        </mat-card>
    </form>
</div>