<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
</head>

<body>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Administrador de guias de tramites</span>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <span class="nav-spacer"></span>
    
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard/guias">Guias</button>
        <button mat-menu-item routerLink="/dashboard/preferencias">Preferencias</button>
      </mat-menu>

      <mat-icon class="nav-icon" aria-hidden="false" aria-label="Perfil" mat-button
        [matMenuTriggerFor]="menuPeople">person</mat-icon>
      <mat-menu #menuPeople="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar sesion</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- Navbar -->
  <div class="main-panel">
    <router-outlet></router-outlet>
  </div>
</body>

</html>