<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
</head>

<body>

  <div class="nav-container">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" aria-hidden="false" aria-label="menu" mat-button>
          menu</mat-icon>
        <img src="../../../assets/img/DATT.png" alt="" class="logo">
        <div class="titulo-container">
          <span class="titulo">Guias de tramites</span>
          <span class="subtitulo">Transito de Cartagena</span>
        </div>
        <span class="nav-spacer"></span>
        <mat-icon class="profile-icon" aria-hidden="false" aria-label="Perfil" mat-button
          [matMenuTriggerFor]="menuPeople">
          person</mat-icon>
        <mat-menu #menuPeople="matMenu">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="avatar">jc</div>
              <mat-card-title>Jorge Caro</mat-card-title>
            </mat-card-header>
          </mat-card>
          <button mat-button>Perfil</button>
          <button mat-button (click)="cerrarSesion()">Cerrar sesion</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="menu-container">
    <button mat-menu-item routerLink="/dashboard/guias">
      <mat-icon class="nav-icon" aria-hidden="false" aria-label="Guia" mat-button>
        chrome_reader_mode</mat-icon>
      Guias
    </button>
    <button mat-menu-item routerLink="/dashboard/documentos">
      <mat-icon class="nav-icon" aria-hidden="false" aria-label="Guia" mat-button>
        description</mat-icon>
      Documentos
    </button>
    <button mat-menu-item routerLink="/dashboard/preferencias">
      <mat-icon class="nav-icon" aria-hidden="false" aria-label="Guia" mat-button>
        settings</mat-icon>
      Preferencias
    </button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>

</html>