.nav-spacer {
  flex: 1 1 auto;
}

body {
  overflow: hidden;
}

.toolbar {
  background: #14850C;
  color: white;
}

.subtitulo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 16px;
  height: 16px;
  font-size: 16px;
}

.titulo {
  font-family: 'Open Sans condensed', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.titulo-container {
  display: flex;
  margin: 1% 0 1% 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-container {
  background-color: white;
  padding: 1% 1% 0 0;
  width: 20%;
  position: fixed; /* Set the navbar to fixed position */
  top: 10.5%; /* Position the navbar at the top of the page */
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.nav-container {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: hidden;
}

.logo {
  width: 5%;
  height: 100%;
  padding: 1%;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
  width: 80%;
  overflow: auto;
  height: 90%;
}

.avatar {
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



