<div *ngIf="guia$ | async as guia">
    <form class="guia-form" ngNativeValidate>
        <mat-card class="guia-card">
            <mat-card-header>
                <mat-card-title>Guardar guia de tramites</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <mat-form-field class="guia-full-width">
                    <input matInput placeholder="Titulo" [(ngModel)]="guia.titulo" name="titulo" required />
                </mat-form-field>

                <div class="container">
                    <h3>Seleccione una categoria para la guia</h3>
                    <mat-radio-group *ngIf="tipos$ | async as tipos" [(ngModel)]="categoria" name="categoria">
                        <mat-radio-button *ngFor="let tipo of tipos" class="example-margin" labelPosition="before" [value]="tipo">
                            <div style="display: flex; justify-content: center">
                                <img mat-card-avatar [src]="cargarMultimedia(tipo.icono)" style="width: 45px; margin: 4%">
                                <p>{{tipo.nombre}}</p>
                            </div>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="container">
                    <h3>Seleccione los puntos de atencion en que se puede realizar este tramite</h3>
                    <mat-checkbox *ngFor="let puntoDeAtencion of puntosDeAtencion" class="example-margin" [(ngModel)]="puntoDeAtencion.checked" labelPosition="before" name="puntoDeAtencion">
                        <div style="display: flex; justify-content: center">
                            <p>{{puntoDeAtencion.punto.nombre}}</p>
                        </div>
                    </mat-checkbox>
                </div>
                <div class="descripcion-container">
                    <h3>Descripcion</h3>

                    <quill-editor placeholder="Escriba la descripcion de la guia" class="textarea" [(ngModel)]="guia.descripcion" name="descripcion-guia">
                    </quill-editor>
                </div>
                <h3>Soporte legal</h3>
                <quill-editor placeholder="Escriba el soporte legal de la guia" [(ngModel)]="guia.soporteLegal" name="soporte-legal-guia">
                </quill-editor>
                <h4>Selecciona un anexo existente de la lista o añade uno nuevo arrastrando o dando click</h4>
                <div class="anexos-container">
                    <div class="anexos-list" *ngIf="anexos$ | async as anexos">
                        <div class="card-anexos" *ngFor="let anexo of anexos" (click)="seleccionarAnexo(anexo, guia)">
                            <div class="anexos-extension">
                                <p>{{anexo.extension}}</p>
                            </div>
                            <div class="anexos-card-container">
                                <h5>{{anexo.nombre}}</h5>
                                <p>{{anexo.fechaCreacion}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="anexos-content">
                        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFileGuia($event, guia)">
                            <input hidden type="file" #fileInput (change)="uploadFileGuia($event.target.files, guia)">
                        </div>
                        <div class="files-list" *ngIf="guia.anexo != null">
                            <p class="file-name"> {{ guia.anexo.nombre }} </p>
                            <mat-icon aria-hidden="false" class="delete-file" (click)="borrarAnexoEnGuia(guia)" aria-label="Example delete icon">
                                delete</mat-icon>
                        </div>
                    </div>
                </div>

            </mat-card-content>
            <p [style.display]="errorMessage ? 'block' : 'none'" [className]="'error'">{{ errorMessage }}</p>
        </mat-card>

        <mat-accordion class="guia-acordeon">
            <mat-expansion-panel *ngFor="let paso of guia.pasos; let key = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Paso # {{ key+1 }}
                    </mat-panel-title>
                    <mat-panel-description>
                        Paso a seguir
                    </mat-panel-description>
                    <button mat-button (click)="deletePaso(guia, key)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-expansion-panel-header>

                <div class="paso-container">
                    <mat-form-field class="guia-full-width">
                        <input matInput placeholder="titulo" name="titulo-paso" [(ngModel)]="paso.titulo">
                    </mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <quill-editor placeholder="Ingresa la descripcion del paso" [(ngModel)]="paso.descripcion" name="descripcion-paso"></quill-editor>

                    <h4>Selecciona un anexo existente de la lista o añade uno nuevo arrastrando o dando click</h4>
                    <div class="anexos-container">
                        <div class="anexos-list" *ngIf="anexos$ | async as anexos">
                            <div class="card-anexos" *ngFor="let anexo of anexos" (click)="seleccionarAnexoEnPaso(anexo, paso)">
                                <div class="anexos-extension">
                                    <p>{{anexo.extension}}</p>
                                </div>
                                <div class="anexos-card-container">
                                    <h5>{{anexo.nombre}}</h5>
                                    <p>{{anexo.fechaCreacion}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="anexos-content">
                            <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile(paso, $event.target.files)">
                                <input hidden type="file" #fileInput (change)="uploadFile(paso, $event.target.files)">
                            </div>
                            <div class="files-list" *ngIf="paso.anexo != null">
                                <p> {{ paso.anexo.nombre }} </p>
                                <mat-icon aria-hidden="false" class="delete-file" (click)="borrarAnexoEnPaso(paso)" aria-label="Example delete icon">
                                    delete</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" class="spinner"></mat-spinner>
    </form>

    <app-speed-dial-floating-button [fabButtons]="buttonOptions" class="guias-fb-btn" (actionBtn)="doAction($event, guia)">
    </app-speed-dial-floating-button>
</div>