.guia-detalle-header-image p {
    position: relative;
    top: 10%;
    transform: translateY(-50%);
}

.guia-detalle-header-image {
    position: absolute;
    margin-top: -30px;
    border-color: #8B7F7F;
    border-style: solid;
    margin-left: -30px;
    background-color: white;
    text-align: center;
}

.guia-pasos-card {
    margin: 1%;
}

.paso-container {
    display: flex;
    flex-direction: column;
}

.anexos-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.anexos-list {
    overflow: auto;
    height: 400px;
    width: 50%;
}

.anexos-content {
    width: 50%;
}