.cp-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.card {
    margin: 1%;
}

.preferencias-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.colores-container .animacion-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tipos-form-container {
    width: 35%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tipo-form {
    margin-top: 4%;
}

.tipo-form * {
    width: inherit;
}

.tipos-icono {
    height: 200px;
    width: 180px;
}

.animation-example {
    width: 200px;
    height: 180px;
}

.animacion-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-around;
}

.animacion-inputs {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.actions button {
    width: 30%;
}

.tipo-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tipo-card {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(87, 83, 83, 0.171);
    transition: 0.3s;
}

.close {
    margin-left: auto;
    position: relative;
    top: 0;
    right: 0;
    height: 30%;
}

.tipo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
}

.tipo-card-content {
    display: flex;
    flex-direction: row;
}

.card-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.card-content div {
    display: flex;
    flex-direction: row;
}

.icono {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-right: 5%;
    width: 35%;
}

.submit-tipo {
    justify-self: flex-end;
}

.tipos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
}

@media only screen and (min-width: 600px) {
    .colores-content,
    .tipos-content {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .colores-content,
    .tipos-content {
        display: flex;
        flex-direction: column;
    }
}