<div class="main-container">
    <div class="login-container">
        <form class="login-form" (keydown.enter)="login()" ngNativeValidate>
            <mat-card class="login-card">
                <img src="../../../assets/img/DATT.png" class="logo">
                <div class="login-input">
                    <mat-label>Nombre de usuario</mat-label>
                    <input [(ngModel)]="username" name="username" required class="input" />
                </div>
                <div class="login-input">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" [(ngModel)]="password" name="password" required class="input" />
                </div>
                <div class="login-actions">
                    <button mat-button (click)="openPage('register')" class="btn-registrarse" name="login">Crear nueva
                        cuenta</button>
                    <button (click)="login()" class="btn-login" name="registrarse">Iniciar sesion</button>
                </div>
                <p [style.display]="errorMessage ? 'block' : 'none'" [className]="'error'">{{ errorMessage }}</p>
            </mat-card>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" class="spinner"></mat-spinner>
        </form>
    </div>
</div>