.main-container {
    width: 100%;
    height: 100%;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 25%;
    height: 60%;
}

.login-form,
.login-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 20%;
    height: 16%;
    padding: 8%;
}

.login-input {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20%;
}

.input {
    background-color: #DDDDDD;
    width: 100%;
    height: 50%;
    border: none;
    font-size: 20px;
}

.login-actions {
    margin-top: auto;
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between
}

.btn-registrarse {
    color: green;
}

.btn-login {
    background-color: #10700B;
    color: white;
    width: 40%;
}

.spinner {
    position: fixed;
    bottom: 0;
    right: 0;
}