.main-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login-container {
    width: 30%;
}

.logo {
    width: 30%;
    height: 25%;
    margin: 5% 5% 0 5%;
}


.btn-login {
    background: -webkit-linear-gradient(top, #106B0A 0, #189F0F 100%) no-repeat;
    color: white
}

.btn-registrarse {
    color: green;
}

.login-form {
    color: white;
    width: 1;
}

@media screen and (min-width:1024px) {
    .login-form {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  }

.login-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
    /* Firefox */
}
.error{
    color: red
}

.spinner {
    position: fixed;
    bottom: 0;
    right: 0;
}

mat-card, mat-card-header, mat-card-header .mat-card-header-text, mat-card-content:not([name = mat-form-field])
 {
     padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
