<div class="paso-container">
    <div class="guia-detalle-paso">
        <div class="guia-detalle-header-image" [style.color]="colorPrimario">
            <p class="numero-paso">{{index+1}}</p>
        </div>
    </div>
    <div class="paso-content">
        <h4 class="paso-titulo">{{paso.titulo}}</h4>
        <div class="paso-descripcion">
            <div [innerHTML]="descripcionComoHTML(paso)" class="descripcion-paso"></div>
            <app-multimedia *ngIf="paso.anexo != null" [anexo]="paso.anexo" class="anexo"></app-multimedia>
        </div>
    </div>
</div>