<div *ngIf="documentos$ | async as documentos; else loading">
    <app-table *ngIf="documentos.length > 0"
    [displayedColumns]="columnas" [dataSource]="obtenerDatosTablaDocumentos(documentos)" [hasActions]=true
        [showUpdate]=true [showProperties]=true [showDelete]=true (update)="actualizarDocumento($event)"
        (delete)="eliminarDocumento($event)"></app-table>
    <mat-card *ngIf="documentos.length === 0">
        No se encontraron documentos guardadas hasta el momento
    </mat-card>
</div>
<ng-template #loading>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>